# Miscellaneous
*.lock

# IntelliJ related
*.iml
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/
.metadata

# Builds
android/.gradle
gen
